MONGO_URI=uri
REDIS_HOST=localhost
REDIS_PORT=6379
IANA_BASE_URL=https://iana.org
IANA_DATA_BASE_URL=https://data.iana.org
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
ICANN_ACCOUNT_USERNAME=usename
ICANN_ACCOUNT_PASSWORD=password
CZDS_DIRECTORY=directory
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
GMAIL_USERNAME=gmailUser
GMAIL_APP_PASSWORD=appPassword
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=password
GEMINI_API_KEY=apiKey